@import "tailwindcss";

[x-cloak] { display: none !important; }

@theme {
  --color-primary: #C2B0A1;
  --color-secondary: #635E57;
  --color-accent: #851A10;
  --color-accent-hover: #6e1509;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --font-sans: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}